[submodule "quickcheck"]
	path = thirdparty/quickcheck
	url = https://github.com/chocolate-doom/quickcheck.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
